[gui]
[user]
	name = Jayesh Patel
	email = jayesh.patel@viewpoint.com
[core]
	autocrlf = true
	editor = 'C:/Program Files/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
[alias]
	st = status
    br = branch
    co = checkout
    # find all duplicate files
	dupes = !git ls-tree -r HEAD | cut -c 13- | sort | uniq -D -w 40
    # find a file in the repo
	grep = !git ls-files | grep -i
    # list all aliases
	alias = !git config -l | grep alias | cut -c 7-
	diffbranch = !git diff --name-status $1..$2
    graphviz = "!f() { echo 'digraph git {' ; git --no-pager log --pretty='format:  \"%h\"[label=\"%h%d\\n%s\"];' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
[credential]
	helper = !'C:\\Users\\jayesh.patel\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
[diff]
	tool = bc3
[merge]
	tool = bc3
[difftool "diffmerge"]
    cmd = 'C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe' "\"$LOCAL\"" "\"$REMOTE\""
[mergetool "diffmerge"]
    cmd = 'C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe' -merge -result="$PWD/$MERGED" "$PWD/$LOCAL" "$PWD/$BASE" "$PWD/$REMOTE" 
    trustExitCode = true
    keepBackup = false

    # color codes http://stackoverflow.com/a/15458378

[mergetool]
	keepBackup = false
[difftool "sourcetree"]
	cmd = 'C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe' -merge -result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[push]
	default = simple
[color]
[color "interactive"]
	prompt = yellow

[color "diff"]
    meta = yellow bold
    old = red bold
    new = green bold
    frag = magenta bold
    whitespace = white bold reverse
[difftool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/bcompare.exe
[mergetool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/bcompare.exe

[color "branch"]
    current = yellow reverse
    local = yellow
	remote = green
[pager]
	diff = false
